//Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//Noto Sans Traditional Chinese
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body{
    font-family: roboto, "Noto Sans TC", sans-serif;
    line-height: 1.5;
}

// Size
.fs-1{
    font-size: 14px;
}

.fs-2{
    font-size: 1.25rem;
}
.fs-3{
    font-size: 1.5rem;
}
.fs-5{
    font-size: 2rem;
}
.fs-6{
    font-size: 2.25rem;
}
.fs-9{
    font-size: 3rem;
}
.fs-10{
    font-size: 4rem;
}
@include lg{
    .fs-lg-base{
        font-size: 1rem;
    }  
}

@include md{
    .fs-md-base{
        font-size: 1rem;
    }
    .fs-md-3{
        font-size: 1.5rem;
    }
    .fs-md-6{
        font-size: 2.25rem;
    }
    .fs-md-7{
        font-size: 2.5rem;
    }
    .fs-md-8{
        font-size: 2.75rem;
    }
}

@include sm{
    .fs-sm-base{
        font-size: 1rem;
    }
    .fs-sm-3{
        font-size: 1.5rem;
    }
}

// color
.t-secondary{
    color: $secondary-color;
}
.t-white{
    color: $white-color;
}
.t-grey{
    color: $grey-color;
}
.t-grey2{
    color: $grey-2-color;
}
.t-dark{
    color: $dark-color;
}
.t-primary{
    color: $primary-color;
}
.t-black{
    color: $black-color;
}

//position
.t-center{
    text-align: center;
}
.t-end{
    text-align: right;
}
.t-start{
    text-align-last: left;
}


//line-height
.lh-base{
    line-height: 1.5;
}

.fw-bold{
    font-weight: bold;
}
.fw-medium{
    font-weight: 500;
}
.fw-900{
    font-weight: 900;
}
.underline{
    text-decoration: underline;
}
.nowrap{
    white-space:nowrap;
}

.t-justify{
    text-align: justify;
}