//flex
.d-flex{
    display: flex;
}
.d-lg-flex{
    @include lg{
        display: flex;
    }
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.d-inline-block{
    display: inline-block;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.g-2{
    gap: 8px;
}
.g-6{
    gap: 24px;
}
.g-8{
    gap: 32px;
}
.g-12{
    gap: 48px;
}
@include lg{
    .col-lg{
        flex-direction: column;
    } 
}

//background
.bg-primary{
    background: $primary-color;
}
.bg-black{
    background: $black-color;
}

//sizing
.w-100{
    width: 100%;
}
.w-66{
    width: 66%;
}
.w-50{
    width: 50%;
}
@include lg{
    .w-lg-50{
        width: 50%;
    }
}

//spacing
.pt-3{
    padding-top: 12px;
}
.pt-12{
    padding-top: 48px;
}
.pt-24{
    padding-top: 96px;
}
.pb-6{
    padding-bottom: 24px;
}
.pb-8{
    padding-bottom: 32px;
}
.pb-20{
    padding-bottom: 80px;
}
.ps-4{
    padding-left: 16px;
}
.ps-6{
    padding-left: 24px;
}
.py-2{
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-4{
    padding-top: 16px;
    padding-bottom: 16px;
}

@include lg{
    .pt-lg-20{
        padding-top: 80px;
    }
}
@include md{
    .pt-md-6{
        padding-top: 24px;
    }
    .pb-md-6{
        padding-bottom: 24px;
    }
    .pt-md-10{
        padding-top: 40px;
    }
    .pb-md-16{
        padding-bottom: 64px;
    }
}

.me-auto{
    margin-right: auto;
}
.me-2{
    margin-right: 8px;
}
.me-4{
    margin-right: 16px;
}
.ms-12{
    margin-left: 48px;
}
.mb-2{
    margin-bottom: 8px;
}
.mb-6{
    margin-bottom: 24px;
}
.mb-8{
    margin-bottom: 32px;
}
.mb-9{
    margin-bottom: 36px;
}
.mb-10{
    margin-bottom: 40px;
}
@include lg{
    .mb-lg-0{
        margin-bottom: 0;
    }
    .mb-lg-8{
        margin-bottom: 32px;
    }
}
@include md{
    .mb-md-6{
        margin-bottom: 24px;
    }
    .me-md-0{
        margin-right: 0;
    }
}

//border
.border{
    border: 1px solid #dee2e6;
}
.border-top{
    border-top: 1px solid #dee2e6;
}
.border-start{
    border-left: 1px solid #dee2e6;
}
.border-end-0{
    border-right: 0;
}
.border-white{
    border-color: $white-color;
}
.border-red{
    border-color: $red-color;
}
.border-grey{
    border-color: $dark-grey-color;
}
.border-8{
    border-width: 8px;
}



.vertical-align-middle{
    vertical-align: middle;
}
.vertical-align-top{
    vertical-align: top;
}

