//flex
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.g-2{
    gap: 8px;
}
.g-8{
    gap: 32px;
}
.g-12{
    gap: 48px;
}

//background
.bg-primary{
    background: $primary-color;
}

//sizing
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-66{
    width: 66%;
}


//spacing

.pt-12{
    padding-top: 48px;
}
.pt-24{
    padding-top: 96px;
}
.pb-6{
    padding-bottom: 24px;
}
.pb-20{
    padding-bottom: 80px;
}
.ps-4{
    padding-left: 16px;
}
@include lg{
    .pt-lg-20{
        padding-top: 80px !important;
    }
}
@include md{
    .pe-md-2{
        padding-right: 8px !important;
    }
    .pt-md-10{
        padding-top: 40px !important;
    }
    .pb-md-16{
        padding-bottom: 64px !important;
    }
}

.me-auto{
    margin-right: auto;
}
.me-4{
    margin-right: 16px;
}
.ms-12{
    margin-left: 48px;
}
.mb-2{
    margin-bottom: 8px;
}
.mb-6{
    margin-bottom: 24px;
}
.mb-8{
    margin-bottom: 32px;
}
@include md{
    .mb-md-6{
        margin-bottom: 24px !important;
    }
}

//border
.border{
    border: 1px solid #dee2e6;
}
.border-top{
    border-top: 1px solid #dee2e6;
}
.border-start{
    border-left: 1px solid #dee2e6;
}
.border-end-0{
    border-right: 0;
}
.border-white{
    border-color: #ffffff;
}
.border-red{
    border-color: $red-color;
}
.border-8{
    border-width: 8px;
}
