//flex
.d-flex{
    display: flex;
}
.d-lg-flex{
    @include lg{
        display: flex;
    }
}
.d-block{
    display: block;
}


.d-none{
    display: none;
}
.d-md-none{
    @include md{
        display: none;
    }
}
.d-inline-block{
    display: inline-block;
}
.d-lg-inline{
    @include lg{
        display: inline;
    }
}
.d-sm-block{
    @include sm{
        display: block;
    }
}
.d-sm-none{
    @include sm{
        display: none;
    }
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.g-2{
    gap: 8px;
}
.g-6{
    gap: 24px;
}
.g-8{
    gap: 32px;
}
.g-12{
    gap: 48px;
}
@include lg{
    .col-lg{
        flex-direction: column;
    } 
    .wrap-lg{
        flex-wrap: wrap;
    }
    .column-lg{
        flex-direction: column;
    }
    .g-lg-6{
        gap: 24px;
    }
}
@include md{
    .col-md{
        flex-direction: column;
    } 
    .g-md-2{
        gap: 8px;
    }
    .g-md-6{
        gap: 24px;
    }
}
@include sm{
    .g-sm-4{
        gap: 16px;
    }
}

//background
.bg-primary{
    background: $primary-color;
}
.bg-secondary{
    background: $secondary-color;
}
.bg-black{
    background: $black-color;
}
.bg-white{
    background: $white-color;
}
.bg-pink{
    background: $pink-color ;
}

//sizing
.w-100{
    width: 100%;
}
.w-66{
    width: 66%;
}
.w-50{
    width: 50%;
}
.w-33{
    width: 33%;
}
.w-25{
    width: 25%;
}
@include lg{
    .w-lg-50{
        width: 50%;
    }
    .w-lg-54{
        width: 54%;
    }
    .w-lg-78{
        width: 78%;
    }
    .w-lg-100{
        width: 100%;
    }
}
@include md{
    .w-md-100{
        width: 100%;
    }
}

//spacing
.pt-3{
    padding-top: 12px;
}
.pt-6{
    padding-top: 24px;
}
.pt-12{
    padding-top: 48px;
}
.pt-24{
    padding-top: 96px;
}
.pb-6{
    padding-bottom: 24px;
}
.pb-8{
    padding-bottom: 32px;
}
.pb-20{
    padding-bottom: 80px;
}
.ps-3{
    padding-left: 12px;
}
.ps-4{
    padding-left: 16px;
}
.ps-6{
    padding-left: 24px;
}
.py-6px{
    padding-top: 6px;
    padding-bottom: 6px;
}
.py-2{
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-4{
    padding-top: 16px;
    padding-bottom: 16px;
}
.py-20{
    padding-top: 80px;
    padding-bottom: 80px;
}

.py-74{
    padding-top: 296px;
    padding-bottom: 296px;
}
.px-3{
    padding-left: 12px;
    padding-right: 12px;
}
.px-4{
    padding-left: 16px;
    padding-right: 16px;
}

@include lg{
    .pt-lg-20{
        padding-top: 80px;
    }
}
@include md{
    .pt-md-6{
        padding-top: 24px;
    }
    .pb-md-6{
        padding-bottom: 24px;
    }
    .pt-md-10{
        padding-top: 40px;
    }
    .pb-md-16{
        padding-bottom: 64px;
    }
}
@include sm{
    .py-sm-36{
        padding-top: 144px;
        padding-bottom: 144px;
    }
    .py-sm-10{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.ms-auto{
    margin-left: auto;
}
.me-auto{
    margin-right: auto;
}
.m0-auto{
    margin: 0 auto;
}
.me-2{
    margin-right: 8px;
}
.me-4{
    margin-right: 16px;
}
.me-6{
    margin-right: 24px;
}
.ms-2{
    margin-left: 8px;
}
.ms-12{
    margin-left: 48px;
}
.mt-auto{
    margin-top: auto;
}
.mt-2{
    margin-top: 8px;
}
.mt-4{
    margin-top: 16px;
}
.mt-6{
    margin-top: 24px;
}
.mt-16{
    margin-top: 64px;
}
.mt-18{
    margin-top: 72px;
}
.mt-24{
    margin-top: 96px;
}
.mb-1{
    margin-bottom: 4px;
}
.mb-7px{
    margin-bottom: 7px;
}
.mb-2{
    margin-bottom: 8px;
}
.mb-4{
    margin-bottom: 16px;
}
.mb-5{
    margin-bottom: 20px;
}
.mb-6{
    margin-bottom: 24px;
}
.mb-7{
    margin-bottom: 28px;
}
.mb-8{
    margin-bottom: 32px;
}
.mb-9{
    margin-bottom: 36px;
}
.mb-10{
    margin-bottom: 40px;
}
.mb-12{
    margin-bottom: 48px;
}
.mb-15{
    margin-bottom: 60px;
}
.mb-20{
    margin-bottom: 80px;
}
.mb-31{
    margin-bottom: 124px;
}
.mx-4{
    margin: 0 16px;
}
@include lg{
    .mb-lg-0{
        margin-bottom: 0;
    }
    .mb-lg-1{
        margin-bottom: 4px;
    }
    .mb-lg-2{
        margin-bottom: 8px;
    }
    .mb-lg-4{
        margin-bottom: 16px;
    }
    .mb-lg-6{
        margin-bottom: 24px;
    }
    .mb-lg-8{
        margin-bottom: 32px;
    }
    .mb-lg-10{
        margin-bottom: 40px;
    }
    .mb-lg-20{
        margin-bottom: 80px;
    }
    .mt-lg-2{
        margin-top: 8px;
    }
    .mt-lg-20{
        margin-top: 80px;
    }
    .me-lg-4{
        margin-right: 8px;
    }
}
@include md{
    .mb-md-0{
        margin-bottom: 0;
    }
    .mb-md-6px{
        margin-bottom: 6px;
    }
    .mb-md-2{
        margin-bottom: 8px;
    }
    .mb-md-4{
        margin-bottom: 16px;
    }
    .mb-md-6{
        margin-bottom: 24px;
    }
    .mb-md-16{
        margin-bottom: 64px;
    }
    .me-md-0{
        margin-right: 0;
    }
    .mt-md-4{
        margin-top: 16px;
    }
    .mt-md-10{
        margin-top: 40px;
    }
    .mt-md-24{
        margin-top: 96px;
    }
}

//border
.border{
    border: 1px solid #dee2e6;
}
.border-top{
    border-top: 1px solid #dee2e6;
}
.border-start{
    border-left: 1px solid #dee2e6;
}
.border-end-0{
    border-right: 0;
}
.border-white{
    border-color: $white-color;
}
.border-red{
    border-color: $red-color;
}
.border-grey{
    border-color: $dark-grey-color;
}
.border-grey2{
    border-color: $grey-2-color;
}
.border-8{
    border-width: 8px;
}



.vertical-align-middle{
    vertical-align: middle;
}
.vertical-align-top{
    vertical-align: top;
}



.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}