<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
<footer class="bg-primary">
    <div class="container t-white">
        <div class="d-flex justify-content-between pt-12 pt-md-6">
            <div class="menu pb-8 pb-md-6 pt-3">
                <ul class="menu-list d-flex g-12 mb-9 mb-lg-8">
                    <li><a href="index.html">首頁</a></li>
                    <li><a href="">系列鏡框</a></li>
                    <li><a href="store.html">門市據點</a></li>
                    <li><a href="blog.html">部落格</a></li>
                    <li><a href="qa.html">常見問題</a></li>
                </ul>
                <div class="contact fs-6">
                    <p class="mb-2"><a href="tel:0800000000" class="d-flex align-items-center"><span class="material-symbols-outlined phone-icon me-4">call</span>0800-000-000</a></p>
                    <p><a href="mailto:glasses@business.com" class="mail d-flex align-items-center"><span class="material-symbols-outlined mail-icon me-4">mail</span>glasses@business.com</a></p>
                </div>          
            </div>
            <ul class="social-media d-flex g-8">
                <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt="facebook" class="fb-icon"></a></li>
                <li><a href="#"><img src="../assets/images/ic_social_ig.png" alt="instagram" class="icon"></a></li>
                <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="line" class="icon"></a></li>
            </ul>           
        </div>
        <div class="copyright d-flex align-items-center border-top border-white">
            <p class="me-auto">Copyright © 2020 Glasses.All rights reserved.</p>           
            <a href="#" class="fs-1">隱私權政策</a>
            <a href="#" class="terms-of-service fs-1 ms-12">服務條款</a>
        </div>
    </div>
</footer>