<header class="bg-primary fixed t-0 w-100">
    <div class="header container d-flex justify-content-between align-items-center">
        <a href="index.html">
            <img src="../assets/images/logo-white.png" alt="logo" class="logo">
        </a>
        <ul class="menu d-flex fs-2">
            <li><a href="product.html">系列鏡框</a></li>
            <li><a href="store.html">門市據點</a></li>
            <li><a href="blog.html">部落格</a></li>
            <li><a href="qa.html">常見問題</a></li>
        </ul>
    </div>
    <ul class="menu-md d-none wrap t-center">
        <li class="w-50"><a href="product.html" class="w-100 lh-1.5 border border-white border-end-0">系列鏡框</a></li>
        <li class="w-50"><a href="store.html" class="w-100 lh-1.5 border border-white">門市據點</a></li>
        <li class="w-50"><a href="blog.html" class="w-100 lh-1.5 border border-white border-end-0">部落格</a></li>
        <li class="w-50"><a href="qa.html" class="w-100 lh-1.5 border border-white">常見問題</a></li>
    </ul>
</header>