.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    @include lg{
        padding-left: 36px;
        padding-right: 36px;
    }
    @include md{
        padding-left: 13px;
        padding-right: 13px;
    }
}
