.store{
    select{
        width: 304px;
        padding: 6.67px 0;  
        font-size: 18px;
        font-family: roboto, "Noto Sans TC", sans-serif;
        @include md{
            max-width: 276px;
        }
    }
    &-detail{
        flex-basis: calc(33.3334% - 16px);
        @include lg{
            flex-basis: calc(50% - 12px);
        }
        @include md{
            flex-basis: 100%;
        }
    }
    h2{
        padding-top: 7.335px;
        padding-bottom: 7.335px;;
    }
    img{
        @include lg{
            aspect-ratio: 1.5 / 1; 
            object-fit: cover;
        }
        @include md{
            aspect-ratio: 1.555 / 1; 
        }
    }
    &-info{
        @include lg{
            width: calc(50% - 10px);
            margin-top: 2px;
            margin-bottom: 2px;
        }
        @include md{
            width: calc(55% - 10px);
        }
        @include sm{
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &-img{
        @include lg{
            aspect-ratio: 1 / 0.63;
            width: calc(50% - 11px);
        }
    }
    .info{
        padding-top: 15.335px;
        padding-bottom: 15.335px;
    }
    .tel:hover{
        font-weight: bold;
    }
    .address{
        width: 86.009%;
    }
    .detail{
        font-size: 19px;
        padding: 15.25px 0;
        &:hover{
            background: $primary-color;
        }
    }
    label{
        @include md{
            font-size: 16px;
            margin-right: 8px;
        }
    }
    &-detail-1{
        flex-basis: 526px;
        img{
            aspect-ratio: 2.3482 / 1; 
            object-fit: cover;
            @include lg{
                width: calc(50% - 12px);
                align-self: stretch;
            }
            @include md{
                width: calc(45% - 10px);
            }
            @include sm{
                width: 100%;
                aspect-ratio: 1.555 / 1; 
            }
        }
        @include lg{
            flex-basis: auto;
        }
        @include md{
            gap: 20px;
        }
        @include sm{
            flex-direction: column;
            gap: 0;
         }
    }
    .google-map {
        flex-basis: 746px;
        flex-shrink: 2.14;
        position: relative;
        overflow: hidden;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
         }
         @include lg{
            flex-basis: 414px;
         }
         @include sm{
            flex-basis: 208px;
         }
    }
}