<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <nav class="nav-container">
      <ul class="d-flex">
        <li class="product-nav t-center"><a href="product.html" class="t-black fs-5 fs-lg-3 fs-md-base fw-medium py-6 py-lg-4 w-100 nav-list border-start border-end">OPTICAL</a></li>
        <li class="product-nav t-center"><a href="product-sunglasses.html" class="t-black fs-5 fs-lg-3 fs-md-base fw-medium pt-6 pt-lg-4 pb-4 pb-lg-2 w-100  border-bottom border-8 border-primary nav-list">SUNGLASSES</a></li>
        <li class="product-nav t-center"><a href="#" class="t-black fs-5 fs-lg-3  fs-md-base fw-medium py-6 py-lg-4 w-100 nav-list border-start border-end">FUNCTIONAL</a></li>
      </ul>
    </nav>
    <div class="product-banner d-flex d-lg-none">
      <img src="../assets/images/product-header-3.png" alt="sunglasses" class="w-50 object-cover">
      <img src="../assets/images/product-header-4.png" alt="sunglasses" class="w-50 object-cover">
    </div>
    <div class="product-banner d-none d-lg-flex">
      <img src="../assets/images/product-header-sm-3.png" alt="sunglasses" class="w-50 object-cover">
      <img src="../assets/images/product-header-sm-4.png" alt="sunglasses" class="w-50 object-cover">
    </div>
    <div class="container">
      <div class="sunglasses py-20 pt-md-10 pb-md-16">
        <h1 class="t-center fs-lg fs-md-3 fw-medium">2020 NEW COLLECTION</h1>
        <h2 class="t-center fs-5 fs-md-3 pb-8 pb-md-6">賽璐珞鈦金屬混合鏡框</h2>
        <ul class="d-flex g-6 g-sm-18px wrap mb-74px mb-lg-63px mb-sm-53px">
          <li class="product-list pb-49px">
            <a href="#"><img src="../assets/images/product-7.png" alt="product" style="object-fit: cover;"></a>
            <div class="d-flex">
              <a class="fs-3 t-black product-item" href="#">BJ41600S</a>
              <p class="fs-3 ms-auto fw-medium t-primary">NTD3,490</p>
            </div>
            <a href="#" class="me-2 color" style="width: 24px; height: 24px; background-color: #5F3E2D; border-radius: 4px; "></a>
            <a href="#" class="color" style="width: 24px; height: 24px; background-color: #B75929; border-radius: 4px; "></a>
          </li>
          <li class="product-list pb-49px">
            <a href="#"><img src="../assets/images/product-8.png" alt="product" style="object-fit: cover;"></a>
            <div class="d-flex">
              <a class="fs-3 t-black product-item" href="#">BJ41600S</a>
              <p class="fs-3 ms-auto fw-medium t-primary">NTD3,490</p>
            </div>
            <a href="#" class="me-2 color" style="width: 24px; height: 24px; background-color: #5F3E2D; border-radius: 4px; "></a>
            <a href="#" class="color" style="width: 24px; height: 24px; background-color: #B75929; border-radius: 4px; "></a>
          </li>
          <li class="product-list pb-49px">
            <a href="#"><img src="../assets/images/product-9.png" alt="product" style="object-fit: cover;"></a>
            <div class="d-flex">
              <a class="fs-3 t-black product-item" href="#">BJ41600S</a>
              <p class="fs-3 ms-auto fw-medium t-primary">NTD3,490</p>
            </div>
            <a href="#" class="me-2 color" style="width: 24px; height: 24px; background-color: #5F3E2D; border-radius: 4px; "></a>
            <a href="#" class="color" style="width: 24px; height: 24px; background-color: #B75929; border-radius: 4px; "></a>
          </li>
          <li class="product-list">
            <a href="#"><img src="../assets/images/product-10.png" alt="product" style="object-fit: cover;"></a>
            <div class="d-flex">
              <a class="fs-3 t-black product-item" href="#">BJ41600S</a>
              <p class="fs-3 ms-auto fw-medium t-primary">NTD3,490</p>
            </div>
            <a href="#" class="me-2 color" style="width: 24px; height: 24px; background-color: #5F3E2D; border-radius: 4px; "></a>
            <a href="#" class="color" style="width: 24px; height: 24px; background-color: #B75929; border-radius: 4px; "></a>
          </li>
          <li class="product-list">
            <a href="#"><img src="../assets/images/product-11.png" alt="product" style="object-fit: cover;"></a>
            <div class="d-flex">
              <a class="fs-3 t-black product-item" href="#">BJ41600S</a>
              <p class="fs-3 ms-auto fw-medium t-primary">NTD3,490</p>
            </div>
            <a href="#" class="me-2 color" style="width: 24px; height: 24px; background-color: #5F3E2D; border-radius: 4px; "></a>
            <a href="#" class="color" style="width: 24px; height: 24px; background-color: #B75929; border-radius: 4px; "></a>
          </li>
          <li class="product-list d-sm-none">
            <a href="#"><img src="../assets/images/product-12.png" alt="product" style="object-fit: cover;"></a>
            <div class="d-flex">
              <a class="fs-3 t-black product-item" href="#">BJ41600S</a>
              <p class="fs-3 ms-auto fw-medium t-primary">NTD3,490</p>
            </div>
            <a href="#" class="me-2 color" style="width: 24px; height: 24px; background-color: #5F3E2D; border-radius: 4px; "></a>
            <a href="#" class="color" style="width: 24px; height: 24px; background-color: #B75929; border-radius: 4px; "></a>
          </li>
        </ul>
        <ul class="pagination product-pagination">
          <li class="page-item pre"><a class="page-link" href="#" style="text-wrap: nowrap;">上一頁</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item disabled next"><a class="page-link" href="#" style="text-wrap: nowrap;">下一頁</a></li>
        </ul>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
