<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>門市據點</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="store container pt-24 pt-lg-20 pt-md-10 pb-20 pb-md-16">
      <h1 class="fs-9 fs-md-3 mb-8 mb-md-6 ps-4 fw-bold border-start border-red border-8">門市據點</h1>
      <form action="" class="d-flex align-items-center mb-10 mb-md-6">
        <label for="stores" class="fs-3 lh-base d-inline-block me-4 nowrap">選擇分店</label>
        <select name="city" id="stores" class="t-grey" onchange="javascript:location.href=this.value">
          <option value="store-3.html">台中清水旗艦店</option>
          <option value="store-1.html">台北中山旗艦店</option>
          <option value="store-2.html">台北綠園店</option>
          <option value="store-4.html">高雄中正形象店</option>
          <option value="store-5.html">高雄夢時代店</option>
        </select>
      </form>
      <div class="store-1 d-flex g-6 col-lg">
        <div class="store-detail-1 t-dark d-lg-flex g-6 align-items-center">
          <img src="../assets/images/store-1.png" alt="台中清水旗艦店" class="store-img">
          <div class="store-info">
            <h2 class="fs-3 ps-6 border border-grey">台中清水旗艦店</h2>
            <ul class="info fs-2 ps-6 border border-grey">
              <li class="mb-2"><a href="tel:020001234" class="tel t-dark"><span class="material-symbols-outlined me-2 d-inline-block vertical-align-middle">call</span>電話：(02)000-1234</a></li>
              <li class="mb-2"><span class="material-symbols-outlined me-2 d-inline-block vertical-align-middle">schedule</span>營業時間：10:00-21:00</li>
              <li><span class="material-symbols-outlined me-2 d-inline-block vertical-align-top">location_on</span><span class="address d-inline-block">地址：台中市清水區經南一路 23 號 8 樓</span></li>
            </ul>
          </div>
        </div>
        <div class="google-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232732.86213449336!2d120.25468203815805!3d24.295899991466875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3469130cc90c7a7d%3A0x98f0b4c52bdec454!2zNDM25Y-w5Lit5biC5riF5rC05Y2A!5e0!3m2!1szh-TW!2stw!4v1721494260931!5m2!1szh-TW!2stw" width="746" height="414" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="vertical-align-middle"></iframe>
        </div>
      </div>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>